doctype html
html
    include header.pug
		
    body
        .content-bg
            .container
                section.py6
                    h1 #{code ? code : 500}
                    h4 #{message ? message : 'Internal server error.'}
                    p
                        a(href='/') Take me home.