footer.py6
    .container
        ul
            li Home
            li About
            li Privacy policy
            li Terms of use
            li Contact

        p OSRS.me is not affiliated with Jagex/RuneScape. Contribute on GitHub!