head
    title= 'OSRS.me' + (page_title ? ' | ' + page_title : '')

    link(rel='stylesheet' href='/styles/normalize.css')
    link(rel='stylesheet' href='/styles/styles.css')
    link(rel='stylesheet' href='/styles/custom.css')

nav
    .container
        .flex(style='height: 58px;')
            h4 OSRS.me

            div(style='width: 100%;')

            //ul
                li(onclick='window.location.href = "/"') Home
                li(onclick='window.location.href = "/api"') API
                li(onclick='window.location.href = "/"') Meta
                li(onclick='window.location.href = "http://osrshelper.com/achievement_diaries"') Diaries