head
    title= 'OSRS.me' + (page_title ? ' | ' + page_title : '')

    link(rel='stylesheet' href='/styles/styles.css')

nav
    .content
        h2
            img(src='/img/osrs.png' height='30px' width='auto')