head
    title= 'OSRS API' + (page_title ? ' | ' + page_title : '')

    link(rel='stylesheet' href='/styles/styles.css')

body
    header
        section
            h2
                a(href='/') OSRS API
                h6(onclick="window.location.reload()")= page_title ? '↳' + page_title : ''
