doctype html
html
    include ./includes/header.pug

    body
        .hero
        
        .cap-stone

        .content-bg
            .content
                section.py6
                    article
                        header(id='main-nav') API

                        .tiles
                            .half.tile(onclick='window.location.href = "/items"')
                                .img
                                .caption
                                    h3.title Item API
                                    p.description A fully featured item API powered by GraphQL.
                            .half.tile
                                .img
                                .caption
                                    h3.title NPC API
                                    p.description NPC data at your figertips; powered by GraphQL.
                        .tiles
                            .half.tile
                                .img
                                .caption
                                    h3.title NPC API
                                    p.description NPC data at your figertips; powered by GraphQL.
                            .half.tile
                                .img
                                .caption
                                    h3.title NPC API
                                    p.description NPC data at your figertips; powered by GraphQL.

    include ./includes/footer.pug
