doctype html
html
    include ./includes/header.pug

    body
        .hero
            .container
        
        //.cap-stone

        .content-bg
            .container
                section.py6
                    article
                        header(id='main-nav') Tools

                        .tiles.row
                            .six.columns
                                .tile(onclick='window.location.href = "/items"')
                                    .img
                                        img(src='./../img/coins.png')
                                    .caption
                                        h6.title Item API
                                        p.description A fully featured item API powered by GraphQL.
                            .six.columns
                                .tile
                                    .img
                                        img(src='./../img/itemscore.gif')
                                    .caption
                                        h6.title Itemscore
                                        p.description If you're stuck wondering what you need to equip.

    include ./includes/footer.pug
