doctype html
html
    include ./includes/header.pug

    body
        .hero
            .container
                section.py6
        
        //.cap-stone

        .content-bg
            .container
                section.py6
                    article.tiles
                        .tile(onclick='window.location.href = "/api"')
                            header
                                img(src='./../img/coins.png')
                            .caption
                                h6.title Item API
                                p.description A fully featured item API powered by GraphQL.
                            ul.tags
                                li new
                                li guides
                                li bossing
                        .tile
                            .caption
                                h6.title Itemscore
                                p.description If you're stuck wondering what you need to equip.
                        .tile
                            .caption
                                h6.title Itemscore
                                p.description If you're stuck wondering what you need to equip.

    include ./includes/footer.pug
