doctype html
html
    include ./includes/header.pug

    body
        .hero
            .container
                section.py6
        
        //.cap-stone

        .content-bg
            .container
                section.py6
                    article.tiles
                        each val, index in feed
                            .tile(onclick=(val.url ? 'window.location.href="' + val.url + '"' : fals))
                                if index == 0
                                    header
                                        img(src='' + val.icon)
                                .caption
                                    h6.title= val.title
                                    p.description= val.description
                                if val.tags && val.tags.length > 0
                                    ul.tags
                                        each v, i in val.tags
                                            li= v

    include ./includes/footer.pug
